body {
    background-color: #095931;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
nav{
    position: fixed;
    top:10px;
    left:10px;
    color: white;
    opacity: 0.7;
}
.container{
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px #0000003b);
}
.container kbd {
    display: inline-block;
    text-align: center;
    margin: 0;
    border: solid #414141 2px;
    border-radius: 0 0 6px 6px;
}
.black-keys kbd{
    position: relative;
    background-color: black;
    color: white;
    padding: 75px 15px 25px 15px;
}
.white-keys kbd{
    background-color: white;
    padding: 150px 20px 30px 20px;
}
.white-keys {
    display: flex;
}
.black-keys {
    position: absolute;
}
.black-keys kbd:nth-child(1){
    left: 30px;
}
.black-keys kbd:nth-child(2){
    left: 40px;
}
.black-keys kbd:nth-child(3){
    left: 95px;
}
.black-keys kbd:nth-child(4){
    left: 100px;
}
.black-keys kbd:nth-child(5){
    left: 105px;
}

.white-keys .key_pressed{
    background-color: #b9b9b9 !important;
}
.black-keys .key_pressed{
    background-color: #343434 !important;
}
